<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="welcome to our sleep-in sleepin' space where we sleep in space" />
    <title>{{ title | safe }}</title>
    <link rel="stylesheet" href="./../../styles/base.css" />
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/../../js/scripts.js"></script>
      {# {{ content | safe }} #}
        <div class="wrapper">
            <div class="inner-wrapper">
                <div class="left pane">
                    <div class="vert-border"></div>
                    <div class="left-content">
                        {% block left %}
                        {% for link in collections.left_nav %}
                            <ul><a href="{{ link.url }}">{{ link.data.link_name }}</a></ul>
                        {% endfor %}
                        {% endblock %}
                    </div>
                </div>
                <div class="center pane">
                    <div class="inner">
                        <div class="top pane">
                            <div class="top-content">
                                {% block top_content %}
                                    {{ content | safe }}
                                {% endblock %}
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="bottom-content">
                                {% block bottom %}
                                    some cool art or something
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right pane">
                    <div class="right-content">
                        {% block right %}
                            notes & words & phrases & scribbles & snippets & poems
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
  </body>
</html>
