html,
body {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    line-break: strict;
    hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2; //fuchsia;
}

.inner-wrapper,
.center.pane .inner {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100vh;
    // padding-left: 10px;
    // padding-right: 10px;
}

.pane {
    display: table-cell;
    vertical-align:top;
}

.left.pane {
    background-color: #e1ede6;//olivedrab;
    width: 20%;
}

.vert-border {
    border-color: #ced9d2; //darkolivegreen;
    border-left-style: outset;
    border-right-style: outset;
    float: left;
    width: 2px;
    height: 100vh;
    top: 0;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
}

.left.pane .vert-border {
    float: right;
    border-left-style: inset;
    border-right-style: inset;
}

.horiz-border {
    border-color: #f0f0f0;
    border-top-style: outset;
    border-bottom-style: outset;
    border-bottom-style: ridge;
    width: 100%;
    height: 3px;
    top: 0;
    float: top;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
}

.center.pane {
    background-color: #f2f2f2;//lightblue;
}

.center.pane .inner .top,
.center.pane .inner .bottom {
    display: table-row;
}

.center.pane .inner .top {
    background-color: #f2f2f2;// lightcoral;
    padding-bottom: 10px;
}

.center.pane .inner .bottom {
    background-color: #ffffff; //orange;
    height: 30%;
    width: 100%;
    // box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.2);
}

.right.pane {
    background-color: #e1ede6;// #999;
    width: 25%;
}

.right-content {
    padding: 10px;
    text-align: center;
}

.top-content,
.bottom-content {
    padding-left: 10px;
    padding-right: 25px;
} 

.top-content {
    width: auto;
    height: 100%;
    overflow: auto; // allow for independent scrolling
}

.bottom-content {
    text-align: right;
}

a:link, a:visited {
    color:green;
    text-decoration: none;
  }
  
  a:hover {
    font-style:italic;
    font-weight: normal;
    text-decoration: underline;
  }
  
  a:active {
    color: darkcyan;
    font-weight: bold;
  }