html,
body {
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  line-break: strict;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none; }

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2; }

.inner-wrapper,
.center.pane .inner {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100vh; }

.pane {
  display: table-cell;
  vertical-align: top; }

.left.pane {
  background-color: #e1ede6;
  width: 20%; }

.center.pane {
  background-color: #f2f2f2; }

.center.pane .inner .top,
.center.pane .inner .bottom {
  display: table-row; }

.center.pane .inner .top {
  background-color: #f2f2f2; }

.center.pane .inner .bottom {
  background-color: #ffffff;
  height: 30%;
  width: 100%; }

.right.pane {
  background-color: #e1ede6;
  width: 25%; }

.top-content {
  width: 100%;
  height: 100%;
  overflow: auto; }

a:link, a:visited {
  color: green;
  text-decoration: none; }

a:hover {
  font-style: italic;
  font-weight: normal;
  text-decoration: underline; }

a:active {
  color: darkcyan;
  font-weight: bold; }
